
@{
    ViewData["Title"] = "Edit";
}

@model FundamentosCsharpTp3.Models.Person

<h1>Editando</h1>

<form method="post" asp-action="SaveEdit" asp-controller="Home" asp-route-id="@Model.Id">
    <div class="form-group">
        <label for="txtName">Nome?</label>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        Sobrenome?</label>
        <input type="text" asp-for="SurName" />
        <span asp-validation-for="SurName"></span>
    </div>
    <div class="form-group">
        Email?</label>
        <input type="text" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label for="txtDate">Data de Aniversário?</label>
        <input type="date" asp-for="Birthday" />
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
</form>

