@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<FundamentosCsharpTp3.Models.Person>

<h1>Amigos</h1>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<table width="100%" border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Próximo Aniversário</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Name @person.SurName</td>
                    <td>@person.NextBirthday.Date</td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="/FullBirthdays/Edit?id=@person.Id">Editar Aniversariante</a>
                        <a class="btn btn-danger btn-sm" href="/FullBirthdays/Delete?id=@person.Id">Excluir Aniversariante</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />

<div>
    <a class="btn btn-primary" asp-controller="FullBirthdays" asp-action="New">Cadastrar Novo Aniversariante</a>
</div>